.SUBSCRIBE {
    background-color: rgb(210, 23, 23);
    color: white;
    border: none;
    height: 35px;
    width: 110px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
  }
  .SUBSCRIBE:hover {
    opacity: 75%;
  }
  .SUBSCRIBE:active {
    opacity: 60%;
  }

  .JOIN {
    background-color: transparent;
    color: rgb(52, 91, 149);
    border-color: rgb(52, 91, 149);
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 60px;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
  }
  .JOIN:hover {
    background-color: rgb(52, 91, 149);
    color: white;
  }
  .JOIN:active {
    opacity: 65%;
  }
  .TWEET {
    background-color: rgb(58, 114, 255);
    color: white;
    border-radius: 17px;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }
  .TWEET:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  }
  .TWEET:active {
    opacity: 65%;
  }